{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% block title 'Backend - List' %}

{% block content %}
    {% set statusFilter = app.request.query.all.status|default('published') %}
    <ul id="breadcrumb">
        <li {% if statusFilter == 'published' %}class="active"{% endif %}>
            <a href="{{ path('backend_list', app.request.query.all|merge({'status': 'published'})) }}">{% trans %}Published ads{% endtrans %}</a> |
        </li>
        <li {% if statusFilter == 'archived' %}class="active"{% endif %}>
            <a href="{{ path('backend_list', app.request.query.all|merge({'status': 'archived'})) }}">{% trans %}Archived ads{% endtrans %}</a> |
        </li>
        <li {% if statusFilter == 'deleted' %}class="active"{% endif %}>
            <a href="{{ path('backend_list', app.request.query.all|merge({'status': 'deleted'})) }}">{% trans %}Deleted ads{% endtrans %}</a>
        </li>
    </ul>

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <div id="backend-job-container">
                    <ul class="backend-flashes">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <li class="error">{{ flashMessage }}</li>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('sucess') %}
                            <li class="success">{{ flashMessage }}</li>
                        {% endfor %}
                    </ul>
                    <h2 class="big-title">{{ app.request.query.all.status|default('published')|humanize }} ads</h2>

                    <table class="table table-striped backend-list">
                        <thead>
                            <tr>
                                <th>
                                    {{ knp_pagination_sortable(jobs, 'Company'|trans, 'c.name') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(jobs, 'Title'|trans, 'j.title') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(jobs, 'CreatedAt'|trans, 'j.createdAt') }}
                                </th>
                                <th>{% trans %}List Displays{% endtrans %}</th>
                                <th>{% trans %}View Displays{% endtrans %}</th>
                                <th>{% trans %}Ext Displays{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td> {{ job.company.name }} </td>
                                <td> {{ job.title }} </td>
                                <td> {{ job.createdAt|date('m/d/Y') }} </td>
                                <td> {{ job.viewCountHomepage }} </td>
                                <td> {{ job.viewCountDetails }} </td>
                                <td> {{ job.viewCountAPI }} </td>
                                <td>
                                    <a href="{{ path('backend_edit', {'id': job.id}) }}">{% trans %}Edit{% endtrans %}</a>
                                    <form action="{{ statusFilter == 'deleted' ? path('backend_restore') : path('backend_delete') }}" method="post">
                                        <input type="hidden" name="job_id" value="{{ job.id }}">
                                        <input type="hidden" name="token" value="{{ csrf_token(statusFilter == 'deleted' ? 'restore_job' : 'delete_job') }}">
                                        <input type="hidden" name="list_filters" value="{{ app.request.query.all|json_encode }}">
                                        <input type="submit" value="{{ statusFilter == 'deleted' ? 'Restore'|trans : 'Delete'|trans }}" />
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="7">{% trans %}No jobs.{% endtrans %}</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(jobs) }}
                </div>
                <div class="clear"></div>
            </div>

            {% block box_clear '' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
