{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% block title 'Backend - List' %}

{% block content %}
    <ul id="breadcrumb">
            <li {% if app.request.query.all.status|default('published') == 'published' %}class="active"{% endif %}>
                <a href="{{ path('backend_list', app.request.query.all|merge({'status': 'published'})) }}">Published ads</a> |
            </li>
            <li {% if app.request.query.all.status|default('published') == 'archived' %}class="active"{% endif %}>
                <a href="{{ path('backend_list', app.request.query.all|merge({'status': 'archived'})) }}">Archived ads</a> |
            </li>
            <li>
                <a href="#">Deleted ads</a>
            </li>
    </ul>

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <div id="backend-job-container">
                    <ul class="backend-flashes">
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <li class="error">{{ flashMessage }}</li>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('sucess') %}
                            <li class="success">{{ flashMessage }}</li>
                        {% endfor %}
                    </ul>
                    <h2 class="big-title">{{ app.request.query.all.status|default('published')|humanize }} ads</h2>

                    <table class="table table-striped backend-list">
                        <thead>
                            <tr>
                                <th>
                                    {{ knp_pagination_sortable(jobs, 'Company', 'j.company') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(jobs, 'Title', 'j.title') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(jobs, 'CreatedAt', 'j.createdAt') }}
                                </th>
                                <th>List Displays</th>
                                <th>View Displays</th>
                                <th>Ext Displays</th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td> {{ job.company }} </td>
                                <td> {{ job.title }} </td>
                                <td> {{ job.createdAt|date('m/d/Y') }} </td>
                                <td> {{ job.viewCountHomepage }} </td>
                                <td> {{ job.viewCountDetails }} </td>
                                <td> {{ job.viewCountAPI }} </td>
                                <td>
                                    <a href="{{ path('backend_edit', {'id': job.id}) }}">Edit</a>
                                    <form action="{{ path('backend_delete') }}" method="post">
                                        <input type="hidden" name="job_id" value="{{ job.id }}">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete_job') }}">
                                        <input type="hidden" name="list_filters" value="{{ app.request.query.all|json_encode }}">
                                        <input type="submit" value="Delete" />
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="7">No jobs.</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(jobs) }}
                </div>
                <div class="clear"></div>
            </div>

            {% block box_clear '' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
